body {
font-family: sans-serif;
/*background-image: url('../images/cute_cat102.png');*/
/*background-repeat: no-repeat;*/
}
ul {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	border-radius: 10px;
	background-color: black;
}
ul li {
	   list-style-type: none;
	   display: inline;
	   margin-right: 10px;
	   margin-left: 10px;
}
ul li a {
	color:white;
	text-decoration: none;
}
ul li a:hover {
	color: #99DDFF
	text-decoration:underline;
}
artical {
	float: left;
	border-style: solid;
	border-width: 1px;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 1em
}
aside {
	float: left;
	border-style: solid;
	border-width: 1px;
	padding: 1em;
    border-radius: 1em;
    background-color: #FFFFC0 
}
hl {
	padding:12px;
	background-color:black;
	color:white;
	border-radius:10px;
}
       
